* text=auto

# Source code / configuration
*.cs text eol=lf
*.shader text eol=lf
*.hlsl text eol=lf
*.cginc text eol=lf
*.json text eol=lf
*.asmdef text eol=lf
*.asmref text eol=lf
*.inputactions text eol=lf

# Unity text-serialized assets
*.meta text eol=lf
*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf
*.mat text eol=lf
*.anim text eol=lf
*.controller text eol=lf
*.overrideController text eol=lf
*.physicMaterial text eol=lf
*.physicsMaterial2D text eol=lf
*.renderTexture text eol=lf
*.lighting text eol=lf
